@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--cor0);
    font-family: var(--font-padrao);
}

a.externo::after{
    content: '\00a0\1F517';
}

header{
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header >h1{
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-top: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);

}
header > p {
    color: white;
    margin-top: 15px;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
    
}

nav{
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.575);
}


nav a{
    justify-content: space-evenly;
    text-decoration: none;
    color: var(--cor1);
}
   


main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor4);
    font-family: var(--font-android);
}
main  h2{
    color: var(--cor4);
    font-weight: normal;
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor2),var(--cor0), white);
}

main h1, p{
    padding: 10px;
}

main h2{
    text-indent: 15px;
    font-weight: normal;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}


main p{
    font-family: var(--font-padrao);
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;    
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    
}

main  img{
    width: 100%;
    min-width:300px ;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    padding: 10px;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}



nav{
    font-family:var(--font-android) ;
    background-color: var(--cor5);
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color:var(--cor3);
    background-color: white;
    border-radius: 4px;
    padding: 2px;
}

.video{
    background-color: var(--cor5);
    margin-bottom: 20px;

}

aside{
    background-color: var(--cor1);
    padding:10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.397);
}

aside ul{
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: 0.5s;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}


iframe{
    min-width: 300px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

